<footer>
  <div class="upper-footer">
    <div class="container">
      <div class="row">
        <div class="col-lg-3 mb-5 mb-lg-0">
          <div class="img-box text-center text-lg-start">
            <img
              src="images/lavelle-clinic-logo.svg"
              alt="Lavelle Clinic Logo"
            />
          </div>
        </div>
        <div
          class="col-sm-7 col-md-8 col-lg-6 mb-5 mb-sm-0 text-center text-sm-start"
        >
          <ul class="count-sm-2 count-md-3 count-lg-4 mb-lg-0">
            <li><a href="/">Treatments</a></li>
            <li><a href="/">Consultation</a></li>
            <li><a href="/">About Us</a></li>
            <li><a href="/">Contact Us</a></li>
            <li><a href="/">Blogs</a></li>
            <li><a href="/">Offers</a></li>
            <li><a href="/">Corporate</a></li>
            <li><a href="/">Location</a></li>
          </ul>
        </div>
        <div
          class="col-sm-5 col-md-4 col-lg-3 d-sm-flex justify-content-sm-end text-center text-sm-start"
        >
          <div class="hours-block">
            <div
              class="d-flex justify-content-center justify-content-sm-start mb-2"
            >
              <img src="images/icons/clock-icon.svg" alt="Clock Icon" />
              <b class="ms-2">Hours</b>
            </div>
            <div class="hours">
              Mon – Fri: 9 am – 5 pm,<br />Sat – Sun: CLOSED
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="lower-footer text-center">
    <div class="container">
      <div class="mb-3">
        <a href="/">Sitemap</a> | <a href="/">Privacy Policy</a>
      </div>
      <div>&copy; 2021 Lavelle Clinic All Rights Reserved.</div>
    </div>
  </div>
</footer>
